<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Web_ScannerFrame">
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_MAIN_PANEL" variable="Main_Panel" member="yes">
					<size>550,380</size>
					<object class="wxButton" name="ID_GO_BUTTON" variable="Go_Button" member="yes">
						<label>GO</label>
						<pos>24,340</pos>
						<handler function="OnGo_ButtonClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON1" variable="Load_Url_Button" member="yes">
						<label>URL</label>
						<pos>432,48</pos>
						<tooltip>Load URL List</tooltip>
						<handler function="OnLoad_Url_ButtonClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON2" variable="Load_Word_Button" member="yes">
						<label>Word</label>
						<pos>432,104</pos>
						<tooltip>Load Word List</tooltip>
						<handler function="OnLoad_Word_ButtonClick" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_QUIT_BUTTON" variable="Quit_Button" member="yes">
						<label>Quit</label>
						<pos>152,340</pos>
						<handler function="OnQuit" entry="EVT_BUTTON" />
					</object>
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="URL_TextCtrl" member="yes">
						<pos>24,50</pos>
						<size>344,27</size>
					</object>
					<object class="wxTextCtrl" name="ID_WORD_TEXTCTRL" variable="Word_TextCtrl" member="yes">
						<pos>24,100</pos>
						<size>345,27</size>
					</object>
					<object class="wxListBox" name="ID_LISTBOX" variable="ListBox" member="yes">
						<default>-1</default>
						<pos>24,150</pos>
						<size>344,170</size>
					</object>
					<object class="wxGauge" name="ID_PROGRESS" variable="Progress" member="yes">
						<pos>320,340</pos>
						<size>200,28</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Web Scanner</label>
						<pos>248,16</pos>
						<size>96,16</size>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
